.site-footer {
	background-color: #DBDBDB;
    height: 30px;
    width: 100%;
	font-size: 14px;
	text-align: center;
	padding-top: 10px;
	position: fixed;
	bottom: 0;
	box-shadow: 0 0 2px 2px rgba(0,0,0,.15);
	left:0px;
}

.site-footer p {
	margin: 0 auto;
}