<div class="modal fade" id="newPermissionModal" tabindex="-1" role="dialog" aria-labelledby="newPermissionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add a new permission</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" ng-model="ctrl.newPermission">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="ctrl.save()">Save</button>
            </div>
        </div>
    </div>
</div>