.nametag-dexno {
    text-shadow: 0px 0px 3px #ffffff
}

.nametag-name {
    text-shadow: 0px 0px 3px #ffffff
}

.nametag-mega, .nametag-mega:hover {
    font-size: 10px;
    text-decoration: none;
    color:#191919;
}

.progress {
    height: 20px;
}

.progress-bar.bg-warning {
    background-color: #EB9532!important;
}

.gender {
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    display:inline-block;
    width:16px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    font-size:10px;
    text-transform:uppercase;
    color:#FFF;
    line-height:13px;
}

.gender.male {
    border:1px solid #1D6386;
    background-color:#1C7FB1;
}

.gender.female {
    border:1px solid #974288;
    background-color:#BF51AA;
}

.gender.genderless {
    border:1px solid #34495e;
    background-color:#34495e;
}

.dex-evolution-chain-pokemon {
    display: block;
    font-size:11px;
    border:1px solid #CBCBCB;
    vertical-align:middle;
    background-color:#F4F4F4;
    text-align:left;
    text-decoration: none;
}

.dex-evolution-chain-pokemon:hover {
    text-decoration: none;
}

.dex-evolution-chain-method {
    font-size:10px;
    color: #191919;
    text-decoration: none;
}

.capture-info, .learnset h6, .move-hints-inactive {
    font-size: 12px;
}

.learnset, .progress-bar {
    font-size: 14px;
}

.form-link:hover {
    text-decoration: none;
}

.hover {
    background-color: #538cc6;
    color: white;
    border: solid 1px;
    border-color: #204060;
    border-radius: 3px;
    padding-left: 1px;
}