<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Welcome to the Pokemon URPG!</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" ng-if="ctrl.action == 'login'">
                <div class="container-fluid">
                    <div class="row pt-2">
                        <div class="col text-center">
                            <button type="button" class="btn btn-primary" ng-click="ctrl.login()">Login with Discord (Admin Only)</button>
                        </div>
                    </div>
                    <resources-message></resources-message>
                    <div class="row pt-3">
                        <div class="col text-center">
                            Working on the website?&nbsp;<a class="smallcaps" href="/wp/wp-login.php" target="_self">Sign into WordPress</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>