<link rel='stylesheet' href='/pokemonurpg-dot-com/site-header/modals/site-directory.style.css' type='text/css' />
<div class="collapse container site-directory bg-white pt-3 pl-4" id="navbarToggleExternalContent">
    <div class="row d-block d-lg-none">
        <div class="col d-flex justify-content-center">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search"  aria-label="Search"
                       ng-model="ctrl.searchText" ng-keypress="$event.keyCode === 13 ? ctrl.search() : ''"
                       placeholder="Enter search term">
                <select  class="form-control mr-sm-2" ng-model="ctrl.searchType"
                         ng-options="name for name in [ 'Pokemon', 'Trainer' ]">
                </select>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
                        ng-click="ctrl.search()">Search</button>
            </form>
        </div>
    </div>
    <div class="card-columns pt-2 border-top">
        <div class="card border-0 d-block d-sm-none pt-1" ng-if="username != ''">
            <h6><a href="/dashboard" target="_self">My Dashboard</a></h6>
        </div>
        <div class="card border-0 d-block d-sm-none" ng-if="username != ''">
            <h6><a href="/wp/wp-login.php" target="_self">Wordpress Login</a></h6>
        </div>
        <div class="card d-block d-sm-none border-top-0 border-left-0 border-right-0 pb-2" ng-if="username != ''">
            <h6><a href="#" ng-click="ctrl.logout()">Log out</a></h6>
        </div>
        <div class="card border-0 d-block d-sm-none">
            <h6><a href="https://forum.pokemonurpg.com" target="_self">Forum</a></h6>
        </div>
        <div class="card border-0 d-block d-sm-none">
            <h6><a href="https://discord.gg/9HWgp95" target="_self">Discord</a></h6>
        </div>
        <div class="card border-0">
            <h6><a href="/pokemon/bulbasaur" target="_self">Pokédex</a></h6>
        </div>
        <div class="card border-0">
            <h6>General</h6>
            <ul>
                <li><a href='/info/general/getting-started' target="_self">Getting Started</a></li>
                <li><a href='/info/general/hall-of-fame/' target="_self">Hall of Fame</a></li>
                <li><a href='/info/general/legendary-list/' target="_self">Legendary List</a></li>
                <li><a href='/info/general/project-nukem/' target="_self">Project NUKEM</a></li>
                <li><a href='/info/general/urpg-challenges/' target="_self">URPG Challenges</a></li>
                <li><a href='/info/general/urpg-rules/' target="_self">URPG Rules</a></li>
            </ul>
        </div>
        <div class="card border-0">
            <h6>Battles</h6>
            <ul>
                <li><a href='/info/battles/reffing-encyclopedia/' target="_self">Reffing Encyclopedia</a></li>
                <li><a href='/info/battles/moves/' target="_self">Reffing - Attacks</a></li>
                <li><a href='/info/battles/abilities/' target="_self">Reffing - Abilities</a></li>
                <li><a href='/info/battles/items/' target="_self">Reffing - Items</a></li>
                <li><a href='/info/battles/champion-elite-four-gym-leaders/' target="_self">Champion, Elite Four & Gym Leaders</a></li>
                <li><a href='/info/battles/the-battle-frontier-and-street-league/' target="_self">Battle Frontier and Street League</a></li>
                <li><a href='/info/battles/gym-leader-history/' target="_self">Gym Leader History</a></li>
                <li><a href='/calcs-home/' target="_self">URPG Reffing Calculators</a></li>
            </ul>
        </div>
        <div class="card border-0">
            <h6>Contests</h6>
            <ul>
                <li><a href='/info/contests/judging-encyclopedia/' target="_self">Judging Encyclopedia</a></li>
                <li><a href='/info/contests/rse-move-list/' target="_self">RSE Contest Hub</a></li>
                <li><a href='/info/contests/oras-move-list/' target="_self">ORAS Contest Hub</a></li>
            </ul>
        </div>
        <div class="card border-0">
            <h6>Stories</h6>
            <ul>
                <li><a href='/info/stories/getting-started/' target="_self">Getting Started</a></li>
                <li><a href='/info/stories/grading-encyclopedia/' target="_self">Grading Encyclopedia</a></li>
            </ul>
        </div>
        <div class="card border-0">
            <h6>Art</h6>
            <ul>
                <li><a href='/info/art/art-encyclopedia/' target="_self">Art Encyclopedia</a></li>
            </ul>
        </div>
        <div class="card border-0">
            <h6>National Park</h6>
            <ul>
                <li><a href='/info/park/park-encyclopedia/' target="_self">Park Encyclopedia</a></li>
                <li><a href='/info/park/how-to-get-started-in-the-national-park-in-5-easy-steps/' target="_self">Start-Up Guide</a></li>
                <li><a href='/info/park/natures-anime-style-battling/' target="_self">Natures & Anime-Style Battling</a></li>
                <li><a href='/info/park/park-map-and-pokemon-locations/' target="_self">Pokemon Locations</a></li>
                <li><a href='/pokemonurpg-dot-com/calcs/parkv2.html' target="_self">Park Capture Calculator</a></li>
            </ul>
        </div>
        <div class="card border-0">
            <h6>Morphic</h6>
            <ul>
                <li><a href='/info/morphic/morphic-quick-start-guide/' target="_self">Quick Start Guide</a></li>
                <li><a href='/info/morphic/morphic-encyclopedia/' target="_self">Morphic Encyclopedia</a></li>
                <li><a href='/info/morphic/arbiter-encyclopedia/' target="_self">Arbiter Encyclopedia</a></li>
            </ul>
        </div>
        <div class="card border-0">
            <h6><a href="https://pokemonurpg.com/archive/urpg.html" target="_self">BMG Archive</a></h6>
        </div>
    </div>
</div>
