<div class="mega-info" ng-repeat="mega in ctrl.pokemon.megaEvolutions">
    <horizontal-line></horizontal-line>
    <table class="dex-info-table">
        <tr>
            <td class="mega-icon">
                <img class="mega-icon-image" ng-src="{{ modelBase }}{{ mega.dexno }}{{ ctrl.suffix(ctrl.pokemon.displayName, mega.name) }}.gif" />
            </td>
            <td class="pokemon-dex-info">
                <h3> #{{ ctrl.threeDigit(ctrl.pokemon.dexno) }} </h3>
                <h2> {{ mega.displayName }} </h2>
                <h6></h6>
                <h7>The {{ ctrl.pokemon.classification }} Pokemon</h7>
                <br>
                <span class="type" ng-class="mega.type1.name | lowercase"> {{ mega.type1.name }} </span><span ng-show="mega.type2.name !== 'NONE'" class="type" ng-class="mega.type2.name | lowercase"> {{ mega.type2.name }} </span>
            </td>
            <td>
                <vertical-line></vertical-line>
            </td>
            <td class="mega-ability">
                <dl>
                    <div>
                        <dt> {{ mega.ability.name }} </dt>
                        <dd>
                            <p> {{ mega.ability.description }} </p>
                        </dd>
                    </div>
                </dl>
            </td>
            <td>
                <vertical-line></vertical-line>
            </td>
            <td class="mega-stats">
                <dl>
                    <dt>HP</dt>
                    <dd><div ng-class="ctrl.getHpBarClass(mega.hp)" ng-style="{ 'width': ctrl.getHpBarSize(mega.hp) + 'px' }">{{ mega.hp }}</div></dd>
                </dl>
                <dl>
                    <dt>Atk</dt>
                    <dd><div ng-class="ctrl.getStatBarClass(mega.attack)" ng-style="{ 'width': ctrl.getStatBarSize(mega.attack) + 'px' }">{{ mega.attack }}</div></dd>
                </dl>
                <dl>
                    <dt>Def</dt>
                    <dd><div ng-class="ctrl.getStatBarClass(mega.defense)" ng-style="{ 'width': ctrl.getStatBarSize(mega.defense) + 'px' }">{{ mega.defense }}</div></dd>
                </dl>
                <dl>
                    <dt>SpA</dt>
                    <dd><div ng-class="ctrl.getStatBarClass(mega.specialAttack)" ng-style="{ 'width': ctrl.getStatBarSize(mega.specialAttack) + 'px' }">{{ mega.specialAttack }}</div></dd>
                </dl>
                <dl>
                    <dt>SpD</dt>
                    <dd><div ng-class="ctrl.getStatBarClass(mega.specialDefense)" ng-style="{ 'width': ctrl.getStatBarSize(mega.specialDefense) + 'px' }">{{ mega.specialDefense }}</div></dd>
                </dl>
                <dl>
                    <dt>Spe</dt>
                    <dd><div ng-class="ctrl.getStatBarClass(mega.speed)" ng-style="{ 'width': ctrl.getStatBarSize(mega.speed) + 'px' }">{{ mega.speed }}</div></dd>
                </dl>
            </td>
        </tr>   
    </table>
    <table>
        <tr>
            <td><h5>Damage Taken</h5></td>
        </tr>
    </table>
    <table class="type-table">
        <tr>
            <th ng-repeat="type in mega.typeMatchups">
                <span class="type-block type" ng-class="type.name | lowercase"> {{ type.name.substring(0, 3).toUpperCase() }} </span>
            </th>
        </tr>
        <tr>
            <td ng-repeat="type in mega.typeMatchups" class="type-box" ng-class="ctrl.matchupClass(type.multiplier)">
                {{ ctrl.fraction(type.multiplier) }}
            </td>
        </tr>
    </table>
    <table class="mega-misc">
        <tr>
            <td>
                <dl>
                    <dt>
                        Available Gender
                    </dt>
                    <dd>
                        <span ng-show="mega.maleAllowed == '1'" class="gender male">M</span>
                        <span ng-show="mega.femaleAllowed == '1'" class="gender female">F</span>
                        <span ng-show="mega.maleAllowed == '0' && mega.femaleAllowed == '0'" class="gender genderless">G</span>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        Grass Knot / Low Kick
                    </dt>
                    <dd>
                        {{ ctrl.getGrassKnotDamage(mega.weight) }} BP
                    </dd>
                </dl>
                <dl>
                    <dt> Height </dt>
                    <dd> {{ mega.height }} m / {{ ctrl.toImperialHeight(mega.height) }}</dd>
                </dl>
                <dl>
                    <dt> Weight </dt>
                    <dd> {{ mega.weight}} kg / {{ ctrl.toImperialWeight(mega.weight) }} lbs</dd>
                </dl>
            </td>
        </tr>
    </table>
</div>