.move-hints-inactive, .move-hints-title, .move-attribute {
    background-color: #538cc6;
    color: white;
}

.move-description {
    background-color: #CBCBCB;
}

.move-attribute {
    font-size: 11px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.move-hints-tab:hover, .move-hints-tab.active {
    background-color: #6ca8e6;
}