<section class="section">
    <div class="container mt-4 p-0">
        <div class="row d-flex align-items-center">
            <div class="col-6 col-sm-5 text-center">
                <nametag-sprite></nametag-sprite>
            </div>
            <div class="col-6 col-sm-7 d-flex align-items-center">
                <nametag-info></nametag-info>
            </div>
        </div>
        <div class="row d-flex align-items-center">
            <div class="col">
                <nametag-forms></nametag-forms>
            </div>
        </div>
    </div>
</section>