<dl>
    <dt>HP</dt>
    <dd><div ng-class="ctrl.getHpBarClass(ctrl.pokemon.hp)" ng-style="{ 'width': ctrl.getHpBarSize(ctrl.pokemon.hp) + 'px' }">{{ ctrl.pokemon.hp }}</div></dd>
</dl>
<dl>
    <dt>Atk</dt>
    <dd><div ng-class="ctrl.getStatBarClass(ctrl.pokemon.attack)" ng-style="{ 'width': ctrl.getStatBarSize(ctrl.pokemon.attack) + 'px' }">{{ ctrl.pokemon.attack }}</div></dd>
</dl>
<dl>
    <dt>Def</dt>
    <dd><div ng-class="ctrl.getStatBarClass(ctrl.pokemon.defense)" ng-style="{ 'width': ctrl.getStatBarSize(ctrl.pokemon.defense) + 'px' }">{{ ctrl.pokemon.defense }}</div></dd>
</dl>
<dl>
    <dt>SpA</dt>
    <dd><div ng-class="ctrl.getStatBarClass(ctrl.pokemon.specialAttack)" ng-style="{ 'width': ctrl.getStatBarSize(ctrl.pokemon.specialAttack) + 'px' }">{{ ctrl.pokemon.specialAttack }}</div></dd>
</dl>
<dl>
    <dt>SpD</dt>
    <dd><div ng-class="ctrl.getStatBarClass(ctrl.pokemon.specialDefense)" ng-style="{ 'width': ctrl.getStatBarSize(ctrl.pokemon.specialDefense) + 'px' }">{{ ctrl.pokemon.specialDefense }}</div></dd>
</dl>
<dl>
    <dt>Spe</dt>
    <dd><div ng-class="ctrl.getStatBarClass(ctrl.pokemon.speed)" ng-style="{ 'width': ctrl.getStatBarSize(ctrl.pokemon.speed) + 'px' }">{{ ctrl.pokemon.speed }}</div></dd>
</dl>