<link rel='stylesheet' href='/pokemonurpg-dot-com/ultradex/partials/type-matchup-container.style.css' type='text/css' />
<div class="container">
    <div class="row">
        <div class="col">
            <h6>Damage Taken</h6>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span class="type-block type" ng-class="type.name | lowercase" ng-repeat="type in ctrl.pokemon.typeMatchups">
                {{ type.name.substring(0, 3).toUpperCase() }}
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span class="type-block type border" ng-repeat="type in ctrl.pokemon.typeMatchups" ng-class="ctrl.matchupClass(type.multiplier)">
                {{ ctrl.fraction(type.multiplier) }}
            </span>
        </div>
    </div>
</div>