<div class="matches">

	<div class="stats-command">
		<table ng-if="sessionService.username == ctrl.name">
		
			<tr>
				<th colspan="1" ng-click="ctrl.showCommands = !ctrl.showCommands">
					<span>Hi, {{ ctrl.name }}!</span>&nbsp;<span class="stats-hide-commands">[{{ ctrl.showCommands == true ? 'Hide' : 'Show Console'}}]</span>
				</th>
			</tr>
			<tr ng-show="ctrl.showCommands == true">
			
				<td>
					<span class="stats-action" ng-click="ctrl.toggleModal('wld', $event)">Edit Record</span>						
				</td>
			
			</tr>
		
		</table>
	</div>
	
	<div class="stats-matches">
		<table>
		
		<tr>
		
			<th>
				Wins
			</th>
			
			<th>
     			Losses
			</th>
			
			<th>
				Draws
			</th>
		
		</tr>
		
		<tr>
		
			<td>
				{{ ctrl.wins }}
			</td>
			
			<td>
     			{{ ctrl.losses }}
			</td>
			
			<td>
				{{ ctrl.draws }}
			</td>
		
		</tr>
		
		</table>
	</div>
	
</div>

<div class="modal alert close-modal" ng-if="ctrl.showModal['alert'] == true" ng-click="ctrl.toggleModal('alert', $event)">
	<div class="modal-content">
		<div class="modal-header">
            <span class="close-modal" ng-click="ctrl.toggleModal('alert', $event)">&times;</span>
            {{ ctrl.modal.alert.header }}
        </div>
        <div class="modal-body">
        	{{ ctrl.modal.alert.message }}
        </div>
        <div class="modal-footer">
            <h3>{{ ctrl.modal.alert.footer }}</h3>
        </div>
	</div>
</div>

<div class="modal wld close-modal" ng-if="ctrl.showModal['wld'] == true" ng-click="ctrl.toggleModal('wld', $event)">
	
	<div class="modal-content">
	
		<div class="modal-header">
	        <span class="close-modal" ng-click="ctrl.toggleModal('wld', $event)">&times;</span>
	        Update Battle Record
	    </div>
	    
	    <div class="modal-body">
	    	<table>
        	
        		<tr><th>Wins:</th>
        			<td><input type="text"  ng-model="ctrl.modal.wld.wins"></td>
                </tr>
        		<tr><th>Losses:</th>
        			<td><input type="text"  ng-model="ctrl.modal.wld.losses"></td>
                </tr>
        		<tr><th>Draws:</th>
        			<td><input type="text" ng-model="ctrl.modal.wld.draws"></td>
                </tr>
        	
        	</table>
            <input type="button"
                   ng-click="ctrl.updateMatches()"
                   value="Save">
		</div>
		
	</div>
</div>