<div class="move-hints-container">
    <div class="move-hints-type" ng-show="ctrl.displayMove.name != null">
        <table>
            <td>
                <span ng-class="ctrl.moveHintsType=='battle' ? 'hover' : ''">Battle</span>
            </td>
            <td>
                <button ng-click="ctrl.switchMoveHintsType()">Switch</button>
            </td>
            <td>
                <span ng-class="ctrl.moveHintsType=='contest' ? 'hover' : ''">Contest</span>
            </td>
        </table>
    </div>
    <div class="move-hints inactive" ng-show="ctrl.displayMove.name == null">
        <p>Hover over a move to see more info</p>
    </div>
    <div class="move-hints battle" ng-show="ctrl.displayMove.name != null && ctrl.moveHintsType == 'battle'">
        <h1>{{ ctrl.displayMove.name }}</h1>
        <table class="move-info">
            <tr>
                <td>
                    <h2>{{ ctrl.displayMove.power != null ? ctrl.displayMove.power : '-' }}</h2>
                    <h4>BP</h4>
                </td>
                <td>
                    <h2>{{ ctrl.displayMove.accuracy != null ? ctrl.displayMove.accuracy : '-' }}{{ ctrl.displayMove.accuracy != null ? '%' : '' }}</h2>
                    <h4>ACC</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="type" ng-class="ctrl.displayMove.type | lowercase">{{ ctrl.displayMove.type }}</span>
                    <h4>TYPE</h4>
                </td>
                <td>
                    <h2>{{ ctrl.displayMove.pp }}</h2>
                    <h4>PP</h4>
                </td>
            </tr>
        </table>
        <table class="move-description">
            <tr>
                <td>{{ ctrl.displayMove.description }}</td>
                <td>
                    <img ng-src="{{ iconBase }}{{ ctrl.displayMove.category | lowercase }}.png" />
                </td>
            </tr>
        </table>
        <p>{{ ctrl.displayMove.target.description }}</p>
        <p ng-show="ctrl.displayMove.contact == '1'">Makes contact.</p>
        <p ng-show="ctrl.displayMove.sheerForce == '1'">Affected by Sheer Force.</p>
        <p ng-show="ctrl.displayMove.substitute == '1'">Negated by Substitute.</p>
        <p ng-show="ctrl.displayMove.snatch == '1'">Can be stolen by Snatch.</p>
        <p ng-show="ctrl.displayMove.magicCoat == '1'">Can be reflected by Magic Coat.</p>
    </div>
    <div class="move-hints contest" ng-show="ctrl.displayMove.name != null && ctrl.moveHintsType == 'contest'">
        <h1>{{ ctrl.displayMove.name }}</h1>
        <table class="move-info" ng-hide="ctrl.displayMove.rseAttribute == null">
            <tr>
                <td>
                    <h2 ng-show="ctrl.displayMove.rseScore == 0 || ctrl.displayMove.rseScore == 'Varies'">{{ ctrl.displayMove.rseScore }}</h2>
                    <img src="/img/heart.png" ng-repeat="heart in ctrl.getDummyArray(ctrl.displayMove.rseScore)" />
                    <h4>SCORE</h4>
                </td>
                <td>
                    <h2 ng-show="ctrl.displayMove.rseJam == 0 || ctrl.displayMove.rseJam == 'Varies'">{{ ctrl.displayMove.rseJam }}</h2>
                    <img src="/img/nheart.png" ng-repeat="heart in ctrl.getDummyArray(ctrl.displayMove.rseJam)" />
                    <h4>JAM</h4>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <span class="type" ng-class="ctrl.displayMove.rseAttribute | lowercase">{{ ctrl.displayMove.rseAttribute }}</span>
                    <h4>ATTRIBUTE</h4>
                </td>
            </tr>
        </table>
        <table class="move-description">
            <tr>
                <td>{{ ctrl.displayMove.rseAttribute != null ? ctrl.displayMove.rseContestDescription : "Cannot be used in contests." }}</td>
            </tr>
        </table>
    </div>
</div>