<div class="accordion" id="attacksAccordion">
    <div class="card-header" id="headingOne">
        <div class="row">
            <div class="col-sm-4">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#attacksCollapse" aria-expanded="true" aria-controls="attacksCollapse">
                    Attacks
                </button>
            </div>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="ctrl.attackFilter" placeholder="Filter Attacks">
            </div>
        </div>
    </div>

    <div id="attacksCollapse" class="collapse show" aria-labelledby="headingOne" data-parent="#attacksAccordion">

        <div class="container">
            <div class="row bg-dark text-light p-2">
                <div class="col-sm-2">
                    Attack
                </div>
                <div class="col-sm-5">
                    Current Attributes
                </div>
                <div class="col-sm-5">
                    New Attributes
                </div>
            </div>
            <div class="row p-2"
                 ng-repeat="attack in ctrl.pokemon.attacks"
                 ng-show="attack.name.toUpperCase().startsWith(ctrl.attackFilter.toUpperCase())">
                <div class="col-sm-2">
                    <div class="row">
                        <div class="col-sm">
                            <label class="col-form-label" ng-class="ctrl.attacksDelta[attack.name].deleted == true ? 'strikethrough' : ''">
                                <h6>{{ attack.name }}</h6>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <button type="submit" class="btn btn-primary btn-block" ng-click="ctrl.deleteOrRestoreAttack(attack)">
                                {{ ctrl.attacksDelta[attack.name].deleted == false ? 'Delete' : 'Restore' }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="row">
                        <div class="col-sm">
                            <label for="staticMethod" class="col-form-label" ng-class="ctrl.attacksDelta[attack.name].deleted == true ? 'strikethrough' : ''">Method</label>
                        </div>
                        <div class="col-sm">
                            <input type="text" readonly class="form-control-plaintext" id="staticMethod" value="{{ attack.method }}"
                                   ng-class="ctrl.attacksDelta[attack.name].deleted == true ? 'strikethrough' : ''">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <label for="staticGeneration" class="col-form-label" ng-class="ctrl.attacksDelta[attack.name].deleted == true ? 'strikethrough' : ''">Generation</label>
                        </div>
                        <div class="col-sm">
                            <input type="text" readonly class="form-control-plaintext" id="staticGeneration" value="{{ attack.generation != null ? attack.generation : 'N/A' }}"
                                   ng-class="ctrl.attacksDelta[attack.name].deleted == true ? 'strikethrough' : ''">
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="row">
                        <div class="col-sm">
                            <label for="deltaMethod" class="col-form-label" ng-class="ctrl.attacksDelta[attack.name].deleted == true ? 'strikethrough' : ''">Method</label>
                        </div>
                        <div class="col-sm">
                            <select class="form-control" id="deltaMethod" ng-model="ctrl.attacksDelta[attack.name].method" ng-disabled="ctrl.attacksDelta[attack.name].deleted == true">
                                <option value="LEVEL-UP">LEVEL-UP</option>
                                <option value="TM">TM</option>
                                <option value="HM">HM</option>
                                <option value="BREEDING">BREEDING</option>
                                <option value="MOVE TUTOR">MOVE TUTOR</option>
                                <option value="SPECIAL">SPECIAL</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <label for="deltaGeneration" class="col-form-label" ng-class="ctrl.attacksDelta[attack.name].deleted == true ? 'strikethrough' : ''">Generation</label>
                        </div>
                        <div class="col-sm">
                            <select class="form-control" id="deltaGeneration" ng-model="ctrl.attacksDelta[attack.name].generation" ng-disabled="ctrl.attacksDelta[attack.name].deleted == true">
                                <option disabled selected value> -- select -- </option>
                                <option value="null" selected>N/A</option>
                                <option ng-repeat="x in [].constructor(8) track by $index">{{ $index + 1 }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>