<div class="container pb-3">
    <div class="row">
        <div class="col-md-6">
            <select class="form-control" id="resourceSelect" ng-model="ctrl.searchKey">
                <option value="" selected disabled hidden>Select an item to view or edit</option>
                <option ng-repeat="item in ctrl.items" value="{{ item }}">{{ item }}</option>
            </select>
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary btn-block" ng-click="ctrl.loadMain()">Load</button>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#inviteUserModal">+ New</button>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary btn-block" ng-click="ctrl.save()">Save</button>
        </div>
    </div>

    <resources-message></resources-message>
</div>

<invite-user-modal></invite-user-modal>