<div class="container pb-40" ng-controller="resourcesAbilitiesCtrl as ctrl">
    <nav aria-label="breadcrumb" class="pt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="/resources">Admin</a></li>
            <li class="breadcrumb-item" aria-current="page">Abilities</li>
        </ol>
    </nav>

    <resources-search></resources-search>
    <resources-ability-editor ng-if="ctrl.loaded == true"></resources-ability-editor>
</div>