<div class="container">
    <nav aria-label="breadcrumb" class="pt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item" aria-current="page">Admin</li>
        </ol>
    </nav>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Authentication and Authorization</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a href="/resources/members">Members</a></td>
        </tr>
        <tr>
            <td><a href="/resources/roles">Roles</a></td>
        </tr>
        <tr>
            <td><a href="/resources/permissions">Permissions</a></td>
        </tr>
        </tbody>
    </table>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Core</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a href="/resources/pokemon">Pokemon</a></td>
        </tr>
        <tr>
            <td><a href="/resources/attacks">Attacks</a></td>
        </tr>
        <tr>
            <td><a href="/resources/abilities">Abilities</a></td>
        </tr>
        </tbody>
    </table>
</div>