<div class="container pb-40" ng-controller="resourcesPokemonCtrl as ctrl">
    <nav aria-label="breadcrumb" class="pt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="/resources">Admin</a></li>
            <li class="breadcrumb-item" aria-current="page">Pokemon</li>
        </ol>
    </nav>

    <resources-search></resources-search>
    <resources-pokemon-general-editor ng-if="ctrl.pokemon !== undefined"></resources-pokemon-general-editor>
    <resources-pokemon-attacks-editor ng-if="ctrl.pokemon !== undefined"></resources-pokemon-attacks-editor>
    <resources-pokemon-abilities-editor ng-if="ctrl.pokemon !== undefined"></resources-pokemon-abilities-editor>
    <resources-pokemon-forms-editor ng-if="ctrl.pokemon !== undefined"></resources-pokemon-forms-editor>

</div>