<div class="container" ng-controller="resourcesPokemonCtrl as ctrl">
    <nav aria-label="breadcrumb" class="pt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="/resources">Admin</a></li>
            <li class="breadcrumb-item" aria-current="page">Pokemon</li>
        </ol>
    </nav>

    <resources-search></resources-search>
    <resources-pokemon-editor ng-if="ctrl.pokemon !== undefined"></resources-pokemon-editor>

</div>