<link rel="stylesheet" href='/css/admin.css' type='text/css' />
<site-header></site-header>
<div class="admin-container">
    <table>
        
        <tr>
            <td>Name:</td>
            <td><input type="text" 
                       name="attackName" 
                       ng-model="attackName"
                       ng-change="ctrl.updateAttackName(attackName)"
                       ng-class="!ctrl.attackNameValid ? 'invalid' : ''"></td>
        </tr>
        <tr><td><br/></td></tr>
        
        <tr>
            <td>Type:</td>
            <td><select ng-model="attackType" 
                        ng-options="attackType for attackType in ctrl.attackTypes"
                        ng-change="ctrl.updateAttackType(attackType)">
                </select></td>
        </tr>
        <tr><td><br/></td></tr>
        
        <tr>
            <td>Description:</td>
        </tr>
        <tr>
            <td colspan="6">
                <textarea type="text" 
                       name="attackDescription" 
                       rows="3"
                       cols="50"
                       ng-model="attackDescription"
                       ng-change="ctrl.updateAttackDescription(attackDescription)"
                       ng-class="!ctrl.attackDescriptionValid ? 'invalid' : ''">
                </textarea>
            </td>
        </tr>
        <tr><td><br/></td></tr>
        
        <tr>
            <td>Power:</td>
            <td><input type="text" 
                       name="attackPower" 
                       ng-model="attackPower"
                       ng-change="ctrl.updateAttackPower(attackPower)"
                       ng-class="!ctrl.attackPowerValid ? 'invalid' : ''"></td>
            
            <td>Accuracy:</td>
            <td><input type="text" 
                       name="attackAccuracy" 
                       ng-model="attackAccuracy"
                       ng-change="ctrl.updateAttackAccuracy(attackAccuracy)"
                       ng-class="!ctrl.attackAccuracyValid ? 'invalid' : ''"></td>
            
            <td>PP:</td>
            <td><input type="text" 
                       name="attackPP" 
                       ng-model="attackPP"
                       ng-change="ctrl.updateAttackPP(attackPP)"
                       ng-class="!ctrl.attackPPValid ? 'invalid' : ''"></td>
        </tr>
        <tr><td><br/></td></tr>
        
        <tr>
            <td>Category:</td>
            <td><select ng-model="attackCategory" 
                        ng-options="attackCategory for attackCategory in ctrl.attackCategories"
                        ng-change="ctrl.updateAttackCategory(attackCategory)">
                </select></td>
        </tr>
        <tr><td><br/></td></tr>
        
        <tr>
            <td>Target:</td>
            <td><select ng-model="attackTarget" 
                        ng-options="attackTarget for attackTarget in ctrl.attackTargets"
                        ng-change="ctrl.updateAttackTarget(attackTarget)">
                </select></td>
        </tr>
        <tr><td><br/></td></tr>
        
        <tr>
            <td>Contact:</td>
            <td><input type="checkbox" 
                       ng-model="attackContact"
                       ng-change="ctrl.updateAttackContact(attackContact)">
            </td>
            <td></td>
            <td>Sheer Force:</td>
            <td><input type="checkbox" 
                       ng-model="attackSheerForce"
                       ng-change="ctrl.updateAttackSheerForce(attackSheerForce)">
            </td>
        </tr>
        <tr><td><br/></td></tr>
        
        <tr>
            <td>Substitute:</td>
            <td><input type="checkbox" 
                       ng-model="attackSubstitute"
                       ng-change="ctrl.updateAttackSubstitute(attackSubstitute)">
            </td>
            <td></td>
            <td>Snatch:</td>
            <td><input type="checkbox" 
                       ng-model="attackSnatch"
                       ng-change="ctrl.updateAttackSnatch(attackSnatch)">
            </td>
        </tr>
        <tr><td><br/></td></tr>
        
        <tr>
            <td>Magic Coat:</td>
            <td><input type="checkbox" 
                       ng-model="attackMagicCoat"
                       ng-change="ctrl.updateAttackMagicCoat(attackMagicCoat)">
            </td>
        </tr>
        <tr><td><br/></td></tr>
        
    </table>
    <input type="button" ng-click="ctrl.saveAttack()" value="Save">
</div>