<link rel="stylesheet" href='/css/admin.css' type='text/css' />
<site-header></site-header>
<div class="admin-container">
    <table>
        
        <tr>
            <td>Pokemon</td>
            <td>
                <select ng-model="pokemonSelector" 
                        ng-options="name for name in ctrl.pokemonNames"
                        ng-change="ctrl.loadPokemon(pokemonSelector)">
                </select>
            </td>
            <td>
                <span class="fixed-value">{{ ctrl.pokemon.dex }}</span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="fixed-value"><i>The {{ ctrl.prototype.classification }} Pokemon</i></span>
            </td>
        </tr>
        <tr><td><br/></td></tr>
        
        <tr>
            <td>Type(s)</td>
            <td>{{ ctrl.prototype.type1 }}</td>
            <td ng-show="ctrl.pokemon.type2 != 'NONE'">{{ ctrl.prototype.type2 }}</td>
        </tr>
        <tr><td><br/></td></tr>
        
        <tr>
            <td>Stats</td>
        </tr>
        <tr>
            <td>HP</td>
            <td><span class="fixed-value">{{ ctrl.prototype.hp }}</span></td>
            <td><input type="text" 
                       name="hp" 
                       ng-model="newHP"
                       ng-change="ctrl.updateHP(newHP)"
                       ng-class="!ctrl.hpValid ? 'invalid' : ''"></td>
        </tr>
        <tr>
            <td>Attack</td>
            <td><span class="fixed-value">{{ ctrl.prototype.attack }}</span></td>
            <td><input type="text" 
                       name="attack" 
                       ng-model="newAttack"
                       ng-change="ctrl.updateAttack(newAttack)"
                       ng-class="!ctrl.attackValid ? 'invalid' : ''"></td>
        </tr>
        <tr>
            <td>Defense</td>
            <td><span class="fixed-value">{{ ctrl.prototype.defense }}</span></td>
            <td><input type="text" 
                       name="defense" 
                       ng-model="newDefense"
                       ng-change="ctrl.updateDefense(newDefense)"
                       ng-class="!ctrl.defenseValid ? 'invalid' : ''"></td>
        </tr>
        <tr>
            <td>Special Attack</td>
            <td><span class="fixed-value">{{ ctrl.prototype.specialAttack }}</span></td>
            <td><input type="text" 
                       name="specialAttack" 
                       ng-model="newSpecialAttack"
                       ng-change="ctrl.updateSpecialAttack(newSpecialAttack)"
                       ng-class="!ctrl.specialAttackValid ? 'invalid' : ''"></td>
        </tr>
        <tr>
            <td>Special Defense</td>
            <td><span class="fixed-value">{{ ctrl.prototype.specialDefense }}</span></td>
            <td><input type="text" 
                       name="specialDefense" 
                       ng-model="newSpecialDefense"
                       ng-change="ctrl.updateSpecialDefense(newSpecialDefense)"
                       ng-class="!ctrl.specialDefenseValid ? 'invalid' : ''"></td>
        </tr>
        <tr>
            <td>Speed</td>
            <td><span class="fixed-value">{{ ctrl.prototype.speed }}</span></td>
            <td><input type="text" 
                       name="speed" 
                       ng-model="newSpeed"
                       ng-change="ctrl.updateSpeed(newSpeed)"
                       ng-class="!ctrl.speedValid ? 'invalid' : ''"></td>
        </tr>
        <tr><td><br/></td></tr>
        
        <tr>
            <td>
                <span ng-if="!ctrl.showAbilities" ng-click="ctrl.showAbilities = !ctrl.showAbilities">+ <i>Abilities...</i></span>
                <span ng-if="ctrl.showAbilities" ng-click="ctrl.showAbilities = !ctrl.showAbilities">- Abilities</span>
            </td>
        </tr>
        <tr ng-repeat="ability in ctrl.instance.abilities" 
            ng-show="ctrl.showAbilities">
            <td colspan="4">
                <table>
                    <tr>
                        <td>
                            <input type="button" 
                                   value="X" 
                                   ng-if="ability.name == 'new' || ability.new == true"
                                   ng-model="removeAbilityButton"
                                   ng-click="ctrl.removeAbility($index)">
                            <span class="fixed-value" ng-if="ability.name != 'new' && ability.new != true">{{ ability.name }}</span>
                            <select ng-model="abilitySelector" 
                                    ng-options="abilityName for abilityName in ctrl.abilityNames"
                                    ng-if="ability.name == 'new' || ability.new == true"
                                    ng-change="ctrl.loadAbility(ability, abilitySelector)">
                            </select>
                        </td>
                        <td>
                            <span class="fixed-value" 
                                  ng-show="ability.hidden" 
                                  ng-if="ability.name != 'new' && ability.new != true">Hidden</span>
                            <span class="fixed-value" 
                                  ng-if="ability.new == true && ability.name != 'new'">Hidden?</span>
                            <input type="checkbox" 
                                   ng-model="abilityHidden"
                                   ng-if="ability.new == true && ability.name != 'new'"
                                   ng-change="ctrl.updateAbilityHidden(ability, abilityHidden)">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <span class="fixed-value" ng-if="ability.name != 'new'">{{ ability.description }}</span>
                            <span class="fixed-value" ng-if="ability.name == 'new'"><i>Choose an ability to see its description.</i></span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr ng-if="ctrl.instance.name != undefined"  ng-show="ctrl.showAbilities">
            <td><span ng-click="ctrl.addAbility()">+</span></td>
        </tr>
        <tr><td><br/></td></tr>
        
        <tr>
            <td>
                <span ng-if="!ctrl.showCaptures" ng-click="ctrl.showCaptures = !ctrl.showCaptures">+ <i>Capture Methods...</i></span>
                <span ng-if="ctrl.showCaptures" ng-click="ctrl.showCaptures = !ctrl.showCaptures">- Capture Methods</span>
            </td>
        </tr>
        <tr ng-show="ctrl.showCaptures">
            <td>
                Pokemart
            </td>
            <td>
                <span class="fixed-value">{{ ctrl.prototype.pokemart != '-1' ? ctrl.instance.pokemart : '-' }}</span>
            </td>
            <td><input type="text" 
                       name="pokemart" 
                       ng-model="newPokemart"
                       ng-change="ctrl.updatePokemart(newPokemart)"
                       ng-class="!ctrl.pokemartValid ? 'invalid' : ''"></td>
        </tr>
        <tr ng-show="ctrl.showCaptures">
            <td>Berry Store</td>
            <td>
                <span class="fixed-value">{{ ctrl.prototype.berryStore != '-1' ? ctrl.instance.berryStore : '-' }}</span>
            </td>
            <td><input type="text" 
                       name="berryStore" 
                       ng-model="newBerryStore"
                       ng-change="ctrl.updateBerryStore(newBerryStore)"
                       ng-class="!ctrl.berryStoreValid ? 'invalid' : ''"></td>
        </tr>
        <tr ng-show="ctrl.showCaptures">
            <td>Story</td>
            <td>
                <span class="fixed-value">{{ ctrl.prototype.storyRank }}</span>
            </td>
            <td>
                <select ng-model="storySelector" 
                        ng-options="storyRank for (storyRank, storyReq) in ctrl.captureMethods.story"
                        ng-change="ctrl.loadMethod('story', storySelector)">
                </select>
            </td>
            <td><span class="fixed-value">{{ ctrl.prototype.storyReq }}</span></td>
        </tr>
        <tr ng-show="ctrl.showCaptures">
            <td>Art</td>
            <td>
                <span class="fixed-value">{{ ctrl.prototype.artRank }}</span>
            </td>
            <td>
                <select ng-model="artSelector" 
                        ng-options="artRank for (artRank, artReq) in ctrl.captureMethods.art"
                        ng-change="ctrl.loadMethod('art', artSelector)">
                </select>
            </td>
            <td><span class="fixed-value">{{ ctrl.prototype.artReq }}</span></td>
        </tr>
        <tr ng-show="ctrl.showCaptures">
            <td>Park</td>
            <td>
                <span class="fixed-value">{{ ctrl.prototype.parkRank }}</span>
            </td>
            <td>
                <select ng-model="parkSelector" 
                        ng-options="parkRank for (parkRank, parkReq) in ctrl.captureMethods.park"
                        ng-change="ctrl.loadMethod('park', parkSelector)">
                </select>
            </td>
            <td><span class="fixed-value">{{ ctrl.prototype.parkReq }}</span></td>
        </tr>
        <tr ng-show="ctrl.showCaptures">
            <td>Soda Shoppe</td>
            <td>
                <span class="fixed-value">{{ ctrl.prototype.sodaShoppe != '-1' ? ctrl.instance.sodaShoppe : '-' }}</span>
            </td>
            <td><input type="text" 
                       name="sodaShoppe" 
                       ng-model="newSodaShoppe"
                       ng-change="ctrl.updateSodaShoppe(newSodaShoppe)"
                       ng-class="!ctrl.sodaShoppeValid ? 'invalid' : ''"></td>
        </tr>
        <tr><td><br/></td></tr>
        
        <tr>
            <td>
                <span ng-if="!ctrl.showEvolutions" ng-click="ctrl.showEvolutions = !ctrl.showEvolutions">+ <i>Evolutions...</i></span>
                <span ng-if="ctrl.showEvolutions" ng-click="ctrl.showEvolutions = !ctrl.showEvolutions">- Evolutions</span>
            </td>
        </tr>
        <tr ng-show="ctrl.showEvolutions" ng-repeat="evolution in ctrl.instance.evolutions">
            <td ng-if="evolution.new != true">
                <span class="fixed-value">{{ evolution.name }}</span>
            </td>
            <td ng-if="evolution.new == true">
                <input type="button" 
                   value="X" 
                   ng-model="removeEvolutionButton"
                   ng-click="ctrl.removeEvolution($index)">
                <select ng-model="pokemonSelector" 
                        ng-options="name for name in ctrl.pokemonNames"
                        ng-change="ctrl.updateEvolutionName(evolution, pokemonSelector)">
                </select>
            </td>
            
            <td ng-if="evolution.new != true">
                <span class="fixed-value">Method: {{ evolution.method }}</span>
            </td>
            <td ng-if="evolution.new == true">
                Method: 
                <input type="text" 
                       name="newEvolutionMethod" 
                       ng-model="methodSelector"
                       ng-change="ctrl.updateEvolutionMethod(evolution, methodSelector)"
                       ng-class="evolution.methodValid == false ? 'invalid' : ''">
            </td>
            
            <td ng-if="evolution.new != true">
                <span class="fixed-value">{{ evolution.exp }} EXP</span>
            </td>
            <td ng-if="evolution.new == true">
                EXP: 
                <input type="text" 
                       name="newEvolutionMethod" 
                       ng-model="expSelector"
                       ng-change="ctrl.updateEvolutionEXP(evolution, expSelector)"
                       ng-class="evolution.expValid == false ? 'invalid' : ''">
            </td>
        </tr>
        <tr ng-if="ctrl.instance.name != undefined"  ng-show="ctrl.showEvolutions">
            <td><span ng-click="ctrl.addEvolution()">+</span></td>
        </tr>
        <tr><td><br/></td></tr>
        
        <tr>
            <td>
                <span ng-if="!ctrl.showMegaEvolutions" ng-click="ctrl.showMegaEvolutions = !ctrl.showMegaEvolutions">+ <i>Mega Evolutions...</i></span>
                <span ng-if="ctrl.showMegaEvolutions" ng-click="ctrl.showMegaEvolutions = !ctrl.showMegaEvolutions">- Mega Evolutions</span>
            </td>
        </tr>
        <tr ng-show="ctrl.showMegaEvolutions" ng-repeat="megaEvolution in ctrl.instance.megaEvolutions">
            <td ng-if="megaEvolution.new != true">
                <span class="fixed-value">{{ megaEvolution.name }}</span>
            </td>
            <td ng-if="megaEvolution.new == true">
                <input type="button" 
                   value="X" 
                   ng-model="removeMegaEvolutionButton"
                   ng-click="ctrl.removeMegaEvolution($index)">
                <select ng-model="pokemonSelector" 
                        ng-options="name for name in ctrl.pokemonNames"
                        ng-change="ctrl.updateMegaEvolutionName(megaEvolution, pokemonSelector)">
                </select>
            </td>
            
            <td ng-if="megaEvolution.new != true">
                <span class="fixed-value">Mega Stone: {{ megaEvolution.megaStone }}</span>
            </td>
            <td ng-if="megaEvolution.new == true">
                Method: 
                <input type="text" 
                       name="newMegaStone" 
                       ng-model="megaStoneSelector"
                       ng-change="ctrl.updateMegaEvolutionMegaStone(megaEvolution, megaStoneSelector)"
                       ng-class="megaEvolution.megaStoneValid == false ? 'invalid' : ''">
            </td>
        </tr>
        <tr ng-if="ctrl.instance.name != undefined"  ng-show="ctrl.showMegaEvolutions">
            <td><span ng-click="ctrl.addMegaEvolution()">+</span></td>
        </tr>
        <tr><td><br/></td></tr>
        
        <tr>
            <td>
                <span ng-if="!ctrl.showAttacks" ng-click="ctrl.showAttacks = !ctrl.showAttacks">+ <i>Attacks...</i></span>
                <span ng-if="ctrl.showAttacks" ng-click="ctrl.showAttacks = !ctrl.showAttacks">- Attacks</span>
            </td>
        </tr>
        <tr><td><br/></td></tr>
        
        <tr ng-show="ctrl.showAttacks">
            <td>Level-Up Moves</td>
            <td>
                <select ng-model="levelSelector" 
                        ng-options="name for name in ctrl.attackNames"
                        ng-change="ctrl.tempLevel=levelSelector">
                </select>
            </td>
            <td>
                <input type="button" name="newAttackButton" value="Add"
                       ng-click="ctrl.loadAttack('level')">
            </td>
			<td>
                <span ng-click="ctrl.bulkType = 'Level-Up Moves'; ctrl.toggleModal($event)">Bulk Import</span>
            </td>
        </tr>
        <tr ng-show="ctrl.showAttacks">
            <td colspan="3">
                <span ng-repeat="move in ctrl.instance.levelUpMoves" 
                      ng-click="ctrl.removeAttack('level', $index, '')">
                {{ move.name }}{{ $last ? '' : ',' }}
                </span>
            </td>
        </tr>
        <tr><td><br/></td></tr>
        
        <tr ng-show="ctrl.showAttacks">
            <td>Technical Machines</td>
            <td>
                <select ng-model="tmSelector" 
                        ng-options="name for name in ctrl.attackNames"
                        ng-change="ctrl.tempTM=tmSelector">
                </select>
            </td>
            <td>
                <input type="text" name="newTMGen" ng-value="Gen" 
                       ng-model="tmGen"
                       ng-change="ctrl.tempTMGen=tmGen"
                       ng-class="ctrl.tmGenValid == false ? 'invalid' : ''">
            </td>
            <td>
                <input type="button" name="newTMButton" value="Add"
                       ng-click="ctrl.loadAttack('tm')">
            </td>
			<td>
                <span ng-click="ctrl.bulkType = 'TMs'; ctrl.toggleModal($event)">Bulk Import</span>
            </td>
        </tr>
        
        <tr ng-show="ctrl.showAttacks" ng-repeat="generation in ctrl.instance.TMs"  ng-if="$index != 0">
            <td>
                Gen {{ $index }}
            </td>
            <td colspan="2">
                {{ generation.length == 0 ? "-" : "" }}
                <span ng-repeat="move in generation"
                      ng-click="ctrl.removeAttack('tm', $index, $parent.$index)">
                    {{ move.name }}{{ $last ? '' : ',' }}
                </span>
            </td>
        </tr>
        <tr><td><br/></td></tr>
        
        <tr ng-show="ctrl.showAttacks">
            <td>Hidden Machines</td>
            <td>
                <select ng-model="hmSelector" 
                        ng-options="name for name in ctrl.attackNames"
                        ng-change="ctrl.tempHM=hmSelector">
                </select>
            </td>
            <td>
                <input type="button" name="newHMButton" value="Add"
                       ng-click="ctrl.loadAttack('hm')">
            </td>
			<td>
                <span ng-click="ctrl.bulkType = 'HMs'; ctrl.toggleModal($event)">Bulk Import</span>
            </td>
        </tr>
        <tr ng-show="ctrl.showAttacks">
            <td colspan="3">
                <span ng-repeat="move in ctrl.instance.HMs"
                      ng-click="ctrl.removeAttack('hm', $index, '')">
                {{ move.name }}{{ $last ? '' : ',' }}
                </span>
            </td>
        </tr>
        <tr><td><br/></td></tr>
        
        <tr ng-show="ctrl.showAttacks">
            <td>Breeding Moves</td>
            <td>
                <select ng-model="bmSelector" 
                        ng-options="name for name in ctrl.attackNames"
                        ng-change="ctrl.tempBM=bmSelector">
                </select>
            </td>
            <td>
                <input type="button" name="newBMButton" value="Add"
                       ng-click="ctrl.loadAttack('bm')">
            </td>
			<td>
                <span ng-click="ctrl.bulkType = 'BMs'; ctrl.toggleModal($event)">Bulk Import</span>
            </td>
        </tr>
        <tr ng-show="ctrl.showAttacks">
            <td colspan="3">
                <span ng-repeat="move in ctrl.instance.BMs"
                      ng-click="ctrl.removeAttack('bm', $index, '')">
                {{ move.name }}{{ $last ? '' : ',' }}
                </span>
            </td>
        </tr>
        <tr><td><br/></td></tr>
        
        <tr ng-show="ctrl.showAttacks">
            <td>Move Tutors</td>
            <td>
                <select ng-model="mtSelector" 
                        ng-options="name for name in ctrl.attackNames"
                        ng-change="ctrl.tempMT=mtSelector">
                </select>
            </td>
            <td>
                <input type="button" name="newMTButton" value="Add" ng-click="ctrl.loadAttack('mt')">
            </td>
			<td>
                <span ng-click="ctrl.bulkType = 'MTs'; ctrl.toggleModal($event)">Bulk Import</span>
            </td>
        </tr>
        <tr ng-show="ctrl.showAttacks">
            <td colspan="3">
                <span ng-repeat="move in ctrl.instance.MTs"
                      ng-click="ctrl.removeAttack('mt', $index, '')">
                {{ move.name }}{{ $last ? '' : ',' }}
                </span>
            </td>
        </tr>
        <tr><td><br/></td></tr>
        
        <tr ng-show="ctrl.showAttacks">
            <td>Special Moves</td>
            <td>
                <select ng-model="smSelector" 
                        ng-options="name for name in ctrl.attackNames"
                        ng-change="ctrl.tempSM=smSelector">
                </select>
            </td>
            <td>
                <input type="button" name="newSMButton" value="Add"
                       ng-click="ctrl.loadAttack('sm')">
            </td>
			<td>
                <span ng-click="ctrl.bulkType = 'SMs'; ctrl.toggleModal($event)">Bulk Import</span>
            </td>
        </tr>
        <tr ng-show="ctrl.showAttacks">
            <td colspan="3">
                <span ng-repeat="move in ctrl.instance.SMs"
                      ng-click="ctrl.removeAttack('sm', $index, '')">
                {{ move.name }}{{ $last ? '' : ',' }}
                </span>
            </td>
        </tr>
        <tr><td><br/></td></tr>
        
    </table>
    <input type="button" ng-click="ctrl.savePokemon()" value="Save">
</div>

<div id="myModal" class="modal static" ng-if="ctrl.showBulk == true">

      <!-- Modal content -->
    <div class="modal-content static">
        <div class="modal-header static">
            <span class="close" ng-click="ctrl.toggleModal()">&times;</span>
            <h2 class="static">Bulk Import {{ ctrl.bulkType }}</h2>
        </div>
        <div class="modal-body static">
            <textarea type="text" 
                class="static"        
                name="attackList" 
                rows="3"
                cols="50"
                ng-model="attackList"
                ng-change="ctrl.updateAttackList(attackList)">
            </textarea>
            <input type="button"
                   ng-click="ctrl.saveImport(); ctrl.toggleModal()"
                   value="Save">
        </div>
        <div class="modal-footer static">
            <h3 class="static">Copy and paste a comma-delimited list of attacks to import.</h3>
        </div>
    </div>
</div>