<table class="obtainability">
    <thead>
        <tr>
            <th class="pokemart">POKEMART</th>
            <th class="story">STORY RANK</th>
            <th class="park">NATIONAL PARK</th>
            <th class="contest">CONTEST CREDITS</th>
            <th class="art">ART GALLERY</th>
        </tr>
    </thead>
    <tbody>
        <tr class="method">
            <td> {{ ctrl.pokemart != "" && ctrl.pokemart != "-1" ? ctrl.pokemart : '-' }} </td>
            <td> {{ ctrl.storyRank }} {{ ctrl.storyReq != '-' ? '(' + ctrl.storyReq + ')' : '' }} </td>
            <td> {{ ctrl.parkRank != '-' ? ctrl.parkRank + '/' : 'Unknown' }}{{ ctrl.parkArea != '-' ? ctrl.parkArea : '' }} {{ ctrl.parkReq != '-' ? '(' + ctrl.parkReq + ')' : '' }} </td>
            <td> {{ ctrl.contestCredits != "" && ctrl.contestCredits != "-1" ? ctrl.contestCredits : '-' }} </td>
            <td> {{ ctrl.artRank }} {{ ctrl.artReq != '-' ? '(' + ctrl.artReq + ' points)' : '' }} </td>
        </tr>
    </tbody>
</table>