<div class='dex-header'>
    <a href='{{ctrl.prevUrl}}' class='dex-header-prev' target="_self" ng-if="ctrl.loaded == true">
        <button-prev></button-prev>
        <img ng-src="{{ ctrl.prevIcon }}" class="sprite-icon"/>
        #{{ ctrl.threeDigit(ctrl.prevDex) }} {{ctrl.prevMon}}
    </a>

    <a href='{{ctrl.nextUrl}}' class='dex-header-next' target="_self" ng-if="ctrl.loaded == true">
        #{{ ctrl.threeDigit(ctrl.nextDex) }} {{ctrl.nextMon}}
        <img ng-src=" {{ ctrl.nextIcon }} " class="sprite-icon"/>
        <button-next></button-next>
    </a>
</div>