<link rel='stylesheet' href='/css/form-info.css' type='text/css' />
<table id="forme-change" align="center">

    <thead>
        <th colspan="999">
            <h2>{{ ctrl.displayName }} Form Variants</h2>
        </th>
    </thead>
    <tbody>
        <tr>
            <th>Variants</th>
            <th ng-repeat="form in ctrl.alteredForms">
                <a ng-click="ctrl.currentForm = $index"
                   ng-href="{{ form.formType == 'non-cosmetic' ? '/pokemon/' + form.name : '#' }}"
                   target="_self">
                    <img ng-src="{{ spriteBase }}{{ ctrl.dex }}{{ ctrl.suffix(form.displayName, form.name) }}.gif" />
                    <br />
                    <strong>{{ form.displayName }}</strong>
                    <br />
                    {{ form.formName != '-1' ? form.formName : 'Base Form' }}
                </a>
            </th>
        </tr>
        <tr>
            <th>Method</th>
            <td colspan="{{ ctrl.alteredForms.length }}">
                {{ ctrl.alteredFormMethod }}
            </td>
        </tr>
        
        <tr ng-if="ctrl.alteredFormType == 'non-cosmetic'">
            <th>Type</th>
            <td ng-repeat="form in ctrl.alteredForms">
                <span class="type" ng-class="form.types[0] | lowercase"> {{ form.types[0] }} </span>
                <span class="type" ng-class="form.types[1] | lowercase" ng-show="form.types[1] !== 'NONE'"> {{ form.types[1] }} </span>
            </td>
        </tr>
        
        <tr ng-if="ctrl.alteredFormType == 'non-cosmetic'">
            <th>Abilities</th>
            <td ng-repeat="form in ctrl.alteredForms">
                <p ng-repeat="ability in form.abilities">
                    {{ ability.name }} {{ ability.isHidden == true ? "(Hidden)" : "" }}
                </p>
            </td>
        </tr>
        
        <tr ng-if="ctrl.alteredFormType == 'non-cosmetic'">
            <th colspan="{{ ctrl.alteredForms.length + 1 }}">Stats</th>
        </tr>
        
        <tr ng-if="ctrl.alteredFormType == 'non-cosmetic'">
            <th>HP</th>
            <td ng-repeat="form in ctrl.alteredForms">
                {{ form.stats.hp }}
            </td>
        </tr>
        
        <tr ng-if="ctrl.alteredFormType == 'non-cosmetic'">
            <th>Attack</th>
            <td ng-repeat="form in ctrl.alteredForms">
                {{ form.stats.attack }}
            </td>
        </tr>
        
        <tr ng-if="ctrl.alteredFormType == 'non-cosmetic'">
            <th>Defense</th>
            <td ng-repeat="form in ctrl.alteredForms">
                {{ form.stats.defense }}
            </td>
        </tr>
        
        <tr ng-if="ctrl.alteredFormType == 'non-cosmetic'">
            <th>Sp. Attack</th>
            <td ng-repeat="form in ctrl.alteredForms">
                {{ form.stats.specialAttack }}
            </td>
        </tr>
        
        <tr ng-if="ctrl.alteredFormType == 'non-cosmetic'">
            <th>Sp. Defense</th>
            <td ng-repeat="form in ctrl.alteredForms">
                {{ form.stats.specialDefense }}
            </td>
        </tr>
        
        <tr ng-if="ctrl.alteredFormType == 'non-cosmetic'">
            <th>Speed</th>
            <td ng-repeat="form in ctrl.alteredForms">
                {{ form.stats.speed }}
            </td>
        </tr>
        
        <tr ng-if="ctrl.alteredFormType == 'non-cosmetic' && ctrl.alteredFormMoves.length > 0">
            <th colspan="{{ ctrl.alteredForms.length + 1 }}">Move Differences</th>
        </tr>
        
        <tr ng-if="ctrl.alteredFormType == 'non-cosmetic' && ctrl.alteredFormMoves.length <= 16"
            ng-repeat="move in ctrl.alteredFormMoves">
            <th>{{ move }}</th>
            <td ng-repeat="form in ctrl.alteredForms">
                {{ form.attacks[move] !== undefined ? form.attacks[move] : "Unavailable" }}
            </td>
        </tr>
        
        <tr ng-if="ctrl.alteredFormType == 'non-cosmetic' && ctrl.alteredFormMoves.length > 16">
            <th colspan="{{ ctrl.alteredForms.length + 1 }}">See each Pokémon's page for learnset differences.</th>
        </tr>

    </tbody>

</table>