<h3> #{{ ctrl.threeDigit(ctrl.dex) }} </h3>
<h2> {{ ctrl.displayName }} </h2>
<h6 ng-show="ctrl.alteredFormType == 'non-cosmetic' && ctrl.alteredForms[ctrl.currentForm].formName != '-1'">{{ ctrl.alteredForms[ctrl.currentForm].formName }}</h6>
<h7>The {{ ctrl.classification }} Pokemon</h7>
<br>
<span class="type" ng-class="ctrl.type1 | lowercase"> {{ ctrl.type1 }} </span>
<span class="type" ng-class="ctrl.type2 | lowercase" ng-show="ctrl.type2 !== 'NONE'"> {{ ctrl.type2 }} </span>
<a href="#" class="mega-tab" ng-repeat="mega in ctrl.megaEvolutions">
<table class="mega-table">
    <td><img ng-src=" {{ ctrl.megaIcons[$index] }} " /></td>
    <td>{{ ctrl.getMegaText() }}
    <br>
        <span class="mega-stone">{{ ctrl.getMegaRingText() }}{{ mega.megaStone }}</span></td>
</table>
</a>