<dl>
    <dt>HP</dt>
    <dd><div ng-class="ctrl.statBarClassHP(ctrl.hp)" ng-style="{ 'width': ctrl.statBarHP(ctrl.hp) + 'px' }">{{ ctrl.hp }}</div></dd>
</dl>
<dl>
    <dt>Atk</dt>
    <dd><div ng-class="ctrl.statBarClass(ctrl.attack)" ng-style="{ 'width': ctrl.statBar(ctrl.attack) + 'px' }">{{ ctrl.attack }}</div></dd>
</dl>
<dl>
    <dt>Def</dt>
    <dd><div ng-class="ctrl.statBarClass(ctrl.defense)" ng-style="{ 'width': ctrl.statBar(ctrl.defense) + 'px' }">{{ ctrl.defense }}</div></dd>
</dl>
<dl>
    <dt>SpA</dt>
    <dd><div ng-class="ctrl.statBarClass(ctrl.specialAttack)" ng-style="{ 'width': ctrl.statBar(ctrl.specialAttack) + 'px' }">{{ ctrl.specialAttack }}</div></dd>
</dl>
<dl>
    <dt>SpD</dt>
    <dd><div ng-class="ctrl.statBarClass(ctrl.specialDefense)" ng-style="{ 'width': ctrl.statBar(ctrl.specialDefense) + 'px' }">{{ ctrl.specialDefense }}</div></dd>
</dl>
<dl>
    <dt>Spe</dt>
    <dd><div ng-class="ctrl.statBarClass(ctrl.speed)" ng-style="{ 'width': ctrl.statBar(ctrl.speed) + 'px' }">{{ ctrl.speed }}</div></dd>   
</dl>