<link rel='stylesheet' href='/app/dashboard/dashboard.style.css' type='text/css' />

<div class="container">
    <div class="row pt-2">
        <div class="col text-center">
            <h1>Dashboard</h1>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-sm-6 col-md-3">
            <a href="/resources">
                <div class="card">
                    <div class="card-header text-center">
                        <h5>Administration</h5>
                    </div>
                    <img src="https://cdn.discordapp.com/attachments/322151178475667456/572544602867892244/kauriavatar.png" class="card-img-top d-none d-sm-block">
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-3">
            <a href="#" data-toggle="modal" data-target="#inviteUserModal" >
                <div class="card">
                    <div class="card-header text-center">
                        <h5>Invite Members</h5>
                    </div>
                    <img src="https://images.pexels.com/photos/211290/pexels-photo-211290.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top d-none d-sm-block">
                </div>
            </a>
        </div>
    </div>
</div>

<invite-user-modal></invite-user-modal>