<link rel='stylesheet' href='/app/dashboard/dashboard.style.css' type='text/css' />

<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-1">
            <a href="/resources">
                <div class="card">
                    <div class="card-header text-center">
                        <h5>Administration</h5>
                    </div>
                    <img src="https://cdn.discordapp.com/attachments/322151178475667456/572544602867892244/kauriavatar.png" class="card-img-top">
                </div>
            </a>
        </div>
    </div>
</div>