<div class="pos-f-t" ng-controller="headerCtrl as ctrl">
	<nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-dark">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="/info" target="_self">Pokemon URPG</a>
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="https://forum.pokemonurpg.com">Forum</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="https://discord.gg/9HWgp95">Discord</a>
			</li>
			<li class="nav-item dropdown" ng-if="ctrl.user != ''">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					{{ ctrl.user }}
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="/dashboard" target="_self">My Dashboard</a>
					<a class="dropdown-item" href="/wp/wp-login.php" target="_self">Wordpress Login</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#" ng-click="ctrl.logout()">Log out</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal" ng-if="ctrl.user == ''">Login</a>
			</li>
		</ul>
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="search"  aria-label="Search"
				    ng-model="ctrl.searchText" ng-keypress="$event.keyCode === 13 ? ctrl.search() : ''"
		 			placeholder="Enter search term">
			<select  class="form-control mr-sm-2" ng-model="ctrl.searchType"
					ng-options="name for name in [ 'Pokemon', 'Trainer' ]">
			</select>
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit"
					ng-click="ctrl.search()">Search</button>
		</form>
	</nav>

	<login-modal></login-modal>
</div>
