<link href="/app/css/header.css" rel="stylesheet">
<link href="/app/css/sidebar.css" rel="stylesheet">

<div class='header-container' ng-controller="headerCtrl as ctrl">
	<div class='site-header'>
		<table>
			<tr>
				<td class="hamburger">
					<img class="clickable" src="https://pokemonurpg.com/img/hamburger.png" width="35" height="35" ng-click="ctrl.showSidebar = !ctrl.showSidebar"/>
					<div class="logo">
						<span>Pokemon URPG - </span>
						<a href="/info" target="_self" id="site-home-link clickable">Infohub</a> - <a href="https://forum.pokemonurpg.com" id="clickable">Forum</a>
					</div>
				</td>
				<td class="search-bar">
					<input type="text"
						   ng-model="ctrl.searchText"
						   ng-keypress="$event.keyCode === 13 ? ctrl.search() : ''">
					<select ng-model="ctrl.searchType"
							ng-options="name for name in [ 'Pokemon', 'Trainer' ]">
					</select>
					<input class="clickable" type="button" ng-click="ctrl.search()" value="Go">
				</td>
				<!--td ng-if="sessionService.username != ''" class='user-info'>
					<a href='/stats/{{ sessionService.username }}' target="_self">{{ sessionService.username }}</a>
					<img class="logout-button clickable"
						src="https://pokemonurpg.com/img/logout.png"
						height="20px" width="20px"
						ng-click="logout()"/>
				</td-->
				<td class='user-info'>
					<!--span class="clickable" ng-click="ctrl.showModal = 'login'">Log In</span-->
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">
						Login
					</button>
				</td>
			</tr>
		</table>
	</div>

	<div class="sidebar" ng-show="ctrl.showSidebar == true">
		<ul>
			<li>
				<a href="https://pokemonurpg.com/pokemon/bulbasaur" target="_self">Pok&eacute;dex</a>
			</li>
			<hr />
			<li class='dropdown'>
				<span class="clickable" ng-click="ctrl.showGeneral = !ctrl.showGeneral">
				General&nbsp;{{ ctrl.showGeneral ? '-' : '+' }}</span>
				<ul class='dropdown-menu' ng-show="ctrl.showGeneral == true">
					<li><a href='/info/general/getting-started' target="_self">Getting Started</a></li>
					<!--li><a href='/info/general/trainer-stats-directory/' target="_self">Trainer Stats Directory</a></li-->
					<li><a href='/info/general/hall-of-fame/' target="_self">Hall of Fame</a></li>
					<li><a href='/info/general/legendary-list/' target="_self">Legendary List</a></li>
					<li><a href='/info/general/project-nukem/' target="_self">Project NUKEM</a></li>
					<li><a href='/info/general/urpg-challenges/' target="_self">URPG Challenges</a></li>
					<li><a href='/info/general/urpg-rules/' target="_self">URPG Rules</a></li>
					<!-- li><a href='/info/general/resources/' target="_self">Resources</a></li-->
				</ul>
			</li>
			<hr />
			<li class='dropdown'>
			<span class="clickable" ng-click="ctrl.showBattles = !ctrl.showBattles">
				Battles&nbsp;{{ ctrl.showBattles ? '-' : '+' }}</span>
				<ul class='dropdown-menu' ng-show="ctrl.showBattles == true">
					<li><a href='/info/battles/reffing-encyclopedia/' target="_self">Reffing Encyclopedia</a></li>
					<li><a href='/info/battles/champion-elite-four-gym-leaders/' target="_self">Champion, Elite Four & Gym Leaders</a></li>
					<li><a href='/info/battles/gym-leader-history/' target="_self">Gym Leader History</a></li>
					<li><a href='/calcs-home/' target="_self">URPG Reffing Calculators</a></li>
				</ul>
			</li>
			<hr />
			<li class='dropdown'>
			<span class="clickable" ng-click="ctrl.showStories = !ctrl.showStories">
				Stories&nbsp;{{ ctrl.showStories ? '-' : '+' }}</span>
				<ul class='dropdown-menu' ng-show="ctrl.showStories == true">
					<li><a href='/info/stories/grading-encyclopedia/' target="_self">Grading Encyclopedia</a></li>
					<li><a href='/info/stories/writing-encyclopedia/' target="_self">Writing Encyclopedia</a></li>
				</ul>
			</li>
			<hr />
			<li class='dropdown'>
			<span class="clickable" ng-click="ctrl.showPark = !ctrl.showPark">
				Park&nbsp;{{ ctrl.showPark ? '-' : '+' }}</span>
				<ul class='dropdown-menu' ng-show="ctrl.showPark == true">
					<li><a href='/info/park/park-encyclopedia/' target="_self">Park Encyclopedia</a></li>
					<li><a href='/info/park/how-to-get-started-in-the-national-park-in-5-easy-steps/' target="_self">Start-Up Guide</a></li>
					<li><a href='/info/park/natures-anime-style-battling/' target="_self">Natures & Anime-Style Battling</a></li>
					<li><a href='/info/park/park-map-and-pokemon-locations/' target="_self">Pokemon Locations</a></li>
					<li><a href='/info/park/sign-up-archive/' target="_self">Sign Up Archive</a></li>
					<li><a href='/app/calcs/parkv2.html' target="_self">Park Capture Calculator</a></li>
				</ul>
			</li>
			<hr />
			<li class='dropdown'>
			<span class="clickable" ng-click="ctrl.showContest = !ctrl.showContest">
				Contest&nbsp;{{ ctrl.showContest ? '-' : '+' }}</span>
				<ul class='dropdown-menu' ng-show="ctrl.showContest == true">
					<li><a href='/info/contests/judging-encyclopedia/' target="_self">Judging Encyclopedia</a></li>
					<li><a href='/info/contests/rse-move-list/' target="_self">RSE Move List</a></li>
					<li><a href='/info/contests/oras-move-list/' target="_self">ORAS Move List</a></li>
					<li><a href='/info/contests/dppt-move-list/' target="_self">DPPt Move List</a></li>
					<li><a href='/info/contests/contest-bosses/' target="_self">Contest Bosses</a></li>
					<!-- li><a href='/info/contests/bw-move-list/' target="_self">BW Megathread (Discontinued)</a></li-->
				</ul>
			</li>
			<hr />
			<li class='dropdown'>
			<span class="clickable" ng-click="ctrl.showArt = !ctrl.showArt">
				Art&nbsp;{{ ctrl.showArt ? '-' : '+' }}</span>
				<ul class='dropdown-menu' ng-show="ctrl.showArt == true">
					<li><a href='/info/art/art-encyclopedia/' target="_self">Art Encyclopedia</a></li>
				</ul>
			</li>
			<hr />
			<li class='dropdown'>
			<span class="clickable" ng-click="ctrl.showMorphic = !ctrl.showMorphic">
				Morphic&nbsp;{{ ctrl.showMorphic ? '-' : '+' }}
				<ul class='dropdown-menu' ng-show="ctrl.showMorphic == true">
					<li><a href='/info/morphic/morphic-quick-start-guide/' target="_self">Quick Start Guide</a></li>
					<li><a href='/info/morphic/morphic-encyclopedia/' target="_self">Morphic Encyclopedia</a></li>
					<li><a href='/info/morphic/arbiter-encyclopedia/' target="_self">Arbiter Encyclopedia</a></li>
				</ul>
			</span>
			</li>
			<hr />
			<li>
				<a href="https://pokemonurpg.com/archive/urpg.html" target="_self">BMG Archive</a>
			</li>
		</ul>
	</div>

	<login-modal></login-modal>
</div>