.blog-post {
	padding-left: 50px;
    padding-right: 50px;
    max-width: 900px;
    margin: 0px auto;	
}

@font-face { 
	font-family: BebasNeue; 
	src: url('BebasNeue.otf'); 
}

@font-face { 
	font-family: Gravity; 
	src: url('Gravity-Book.ttf'); 
}

.four-col {
	column-count: 4;
}

.three-col {
	column-count: 3;
}

.no-bullet {
	list-style-type: none;
}

.center {
	text-align: center;
}

.list-inline {
	list-style-type: none;
}

.list-inline li {
	display: inline-block;
	padding-left: 10px;
    padding-right: 10px;
}

.hidden {
    display: none!important;
}

.page-info
{
	font-size: 12px;
}

.float-left {
	float: left;
}

.float-clear {
	float: clear;
}

.kua {
	table-layout: fixed;
	width: 100%;
}

.kua tr {
	vertical-align: top;
}

.kua th {
	text-align: left;
	padding-left: 49px;
}

.kua td {
	padding-left: 37px;
}

.kua-label {
	text-align: center;
}

.badge {
	width: 16px;
	height: 16px;
}