<link rel='stylesheet' href='/pokemonurpg-dot-com/stats/stats.style.css' type='text/css' />

<div ng-controller="statsCtrl as ctrl">
    <div class="container pt-2">
        <div class="row pt-2 text-center">
            <div class="col p-2">
                <h1 class="trainer-name">{{ ctrl.trainer.name }}</h1>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col">
                <ul class="nav nav-pills justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" id="trainer-tab" data-toggle="tab" href="#" data-target="#trainer" role="tab" aria-controls="trainer" aria-selected="false">TRAINER CARD</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" id="pokemon-tab" data-toggle="tab" href="#" data-target="#pokemon" role="tab" aria-controls="pokemon" aria-selected="true">POKEMON</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="inventory-tab" data-toggle="tab" href="#" data-target="#inventory" role="tab" aria-controls="inventory" aria-selected="false">INVENTORY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="history-tab" data-toggle="tab" href="#" data-target="#history" role="tab" aria-controls="history" aria-selected="false">MATCH HISTORY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="achievements-tab" data-toggle="tab" href="#" data-target="#achievements" role="tab" aria-controls="achievements" aria-selected="false">ACHIEVEMENTS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="logs-tab" data-toggle="tab" href="#" data-target="#logs" role="tab" aria-controls="logs" aria-selected="false">CHANGE LOG</a>
                    </li>
                </ul>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col p-0">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade" id="trainer" role="tabpanel" aria-labelledby="trainer-tab">
                        <stats-trainer></stats-trainer>
                    </div>
                    <div class="tab-pane fade show active" id="pokemon" role="tabpanel" aria-labelledby="pokemon-tab">
                        <stats-pokemon ng-if="ctrl.zoomPokemon === undefined"></stats-pokemon>
                        <stats-pokemon-zoom ng-if="ctrl.zoomPokemon !== undefined"></stats-pokemon-zoom>
                    </div>
                    <div class="tab-pane fade" id="inventory" role="tabpanel" aria-labelledby="inventory-tab">
                        <stats-inventory></stats-inventory>
                    </div>
                    <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">
                        <stats-matches></stats-matches>
                    </div>
                    <div class="tab-pane fade" id="achievements" role="tabpanel" aria-labelledby="achievements-tab">
                        <stats-achievements></stats-achievements>
                    </div>
                    <div class="tab-pane fade" id="logs" role="tabpanel" aria-labelledby="logs-tab">
                        <stats-logs></stats-logs>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
