<section class="section">
    <div class="container">
        <div class="row pt-2 d-flex align-items-center">
            <div class="col-md-4">
                <nametag-container></nametag-container>
            </div>
            <div class="col-md-4">
                <ability-container></ability-container>
            </div>
            <div class="col-md-4">
                <stats-container></stats-container>
            </div>
        </div>
        <div class="row pt-2 d-flex align-items-center">
            <div class="col-md-8">
                <type-matchup-container></type-matchup-container>
            </div>
            <div class="col-md-4">
                <misc-info-container></misc-info-container>
            </div>
        </div>
    </div>
</section>

<!--<link rel='stylesheet' href='/app/css/dex-body.css' type='text/css' />
<dex-info></dex-info>
<form-tabs></form-tabs>
<type-matchups></type-matchups>
<misc-info></misc-info>
<evolution-family></evolution-family>
<capture-info></capture-info>
<learnset></learnset>
<mega-evolutions></mega-evolutions>
<form-info ng-if="ctrl.pokemon.alteredForms.length > 1"></form-info-->