<div class="container table-responsive mt-2 px-10 text-center">
    <table class="table" id="forme-change" align="center">

        <tbody>
        <tr>
            <th class="align-middle">Variants</th>
            <th ng-repeat="form in ctrl.pokemon.alteredForms">
                <a ng-click="ctrl.pokemon.currentForm = $index"
                   ng-href="{{ form.baseName != ctrl.pokemon.name ? '/pokemon/' + form.baseName : '#' }}"
                   target="_self"
                   class="form-link">
                    <img ng-src="{{ spriteBase }}{{ ctrl.pokemon.dexno }}{{ ctrl.suffix(form.displayName, form.name) }}.gif" />
                    <br />
                    <strong>{{ form.displayName }}</strong>
                    <br />
                    {{ form.formName != '-1' ? form.formName : 'Base Form' }}
                </a>
            </th>
        </tr>
        <tr>
            <th>Method</th>
            <td colspan="{{ ctrl.pokemon.alteredForms.length + 1 }}">
                {{ ctrl.pokemon.alteredForms[0].method }}
            </td>
        </tr>

        <tr>
        <th>Type</th>
        <td ng-repeat="form in ctrl.pokemon.alteredForms">
            <span class="type" ng-class="form.type1 | lowercase"> {{ form.type1 }} </span>
            <span class="type" ng-class="form.type2 | lowercase" ng-show="form.type2 !== 'NONE'"> {{ form.type2 }} </span>
        </td>
        </tr>

        <tr>
            <th class="align-middle">Abilities</th>
            <td ng-repeat="form in ctrl.pokemon.alteredForms" class="align-middle">
                <p ng-repeat="ability in form.abilities">
                    {{ ability.name }} {{ ability.hidden == true ? "(Hidden)" : "" }}
                </p>
            </td>
        </tr>

        <tr>
            <th colspan="{{ ctrl.pokemon.alteredForms.length + 1 }}">Stats</th>
        </tr>

        <tr>
            <th>HP</th>
            <td ng-repeat="form in ctrl.pokemon.alteredForms">
                {{ form.hp }}
            </td>
        </tr>

        <tr>
        <th>Attack</th>
        <td ng-repeat="form in ctrl.pokemon.alteredForms">
            {{ form.attack }}
        </td>
        </tr>

        <tr>
        <th>Defense</th>
        <td ng-repeat="form in ctrl.pokemon.alteredForms">
            {{ form.defense }}
        </td>
        </tr>

        <tr>
        <th>Sp. Attack</th>
        <td ng-repeat="form in ctrl.pokemon.alteredForms">
            {{ form.specialAttack }}
        </td>
        </tr>

        <tr>
        <th>Sp. Defense</th>
        <td ng-repeat="form in ctrl.pokemon.alteredForms">
            {{ form.specialDefense }}
        </td>
        </tr>

        <tr>
        <th>Speed</th>
        <td ng-repeat="form in ctrl.pokemon.alteredForms">
            {{ form.speed }}
        </td>
        </tr>

        <tr>
            <th colspan="{{ ctrl.pokemon.alteredForms.length + 1 }}">Move Differences</th>
        </tr>

        <tr ng-repeat="attack in ctrl.pokemon.uniqueMoves" ng-if="ctrl.pokemon.uniqueMoves.length <= 15">
            <th>
                {{ attack }}
            </th>
            <td ng-repeat="form in ctrl.pokemon.alteredForms">
                {{ form.uniqueAttacks[attack] != null ? form.uniqueAttacks[attack] : 'Unavailable' }}
            </td>
        </tr>

        <tr ng-if="ctrl.pokemon.uniqueMoves.length > 15">
            <th colspan="{{ ctrl.pokemon.alteredForms.length + 1 }}">See each Pokémon's page for learnset differences.</th>
        </tr>

        </tbody>

    </table>
</div>