<table class="learnset">
    
    <th class="category" colspan="2">Level-Up Moves</th>
    <tr>
        <td colspan="2">
            <span ng-repeat="attack in ctrl.pokemon.attacks | filter: { method: 'LEVEL-UP' }" ng-mouseover="ctrl.hoverMove(attack)" ng-class="ctrl.displayMove == attack ? 'hover' : ''">
                {{ attack.name }}{{ $last  ? '' : ',' }}
            </span>
        </td>
    </tr>
    
    <th class="category" colspan="2">Technical Machines</th>
    <tr ng-repeat="n in [].constructor(7) track by $index">
        <td class="tm-generation">
            Gen {{ $index + 1 }}
        </td>
        <td>
            <span ng-repeat="attack in ctrl.pokemon.attacks | filter: { method: 'TM', generation: $index + 1 }" ng-mouseover="ctrl.hoverMove(attack)" ng-class="ctrl.displayMove == attack ? 'hover' : ''">
                {{ attack.name }}{{ $last ? '' : ',' }}
            </span>
        </td>
    </tr>

    <th class="category" colspan="2">Hidden Machines</th>
    <tr>
        <td colspan="2">
            {{ ctrl.HMs.length <= 0 ? 'None' : '' }}
            <span ng-repeat="attack in ctrl.pokemon.attacks | filter: { method: 'HM' }" ng-mouseover="ctrl.hoverMove(attack)" ng-class="ctrl.displayMove == attack ? 'hover' : ''">
                {{ attack.name }}{{ $last ? '' : ',' }}
            </span>
        </td>
    </tr>

    <th class="category" colspan="2">Breeding Moves</th>
    <tr>
        <td colspan="2">
            {{ ctrl.BMs.length <= 0 ? 'None' : '' }}
            <span ng-repeat="attack in ctrl.pokemon.attacks | filter: { method: 'BREEDING' }" ng-mouseover="ctrl.hoverMove(attack)" ng-class="ctrl.displayMove == attack ? 'hover' : ''">
                {{ attack.name }}{{ $last ? '' : ',' }}
            </span>
        </td>
    </tr>

    <th class="category" colspan="2">Move Tutors</th>
    <tr>
        <td colspan="2">
            {{ ctrl.MTs.length <= 0 ? 'None' : '' }}
            <span ng-repeat="attack in ctrl.pokemon.attacks | filter: { method: 'MOVE TUTOR' }" ng-mouseover="ctrl.hoverMove(attack)" ng-class="ctrl.displayMove == attack ? 'hover' : ''">
                {{ attack.name }}{{ $last ? '' : ',' }}
            </span>
        </td>
    </tr>

    <th class="category" colspan="2">Special Moves</th>
    <tr>
        <td colspan="2">
            {{ ctrl.SMs.length <= 0 ? 'None' : '' }}
            <span ng-repeat="attack in ctrl.pokemon.attacks | filter: { method: 'SPECIAL' }" ng-mouseover="ctrl.hoverMove(attack)" ng-class="ctrl.displayMove == attack ? 'hover' : ''">
                {{ attack.name }}{{ $last ? '' : ',' }}
            </span>
        </td>
    </tr>
    
</table>
<move-hints></move-hints>