<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-5 border p-1 m-1">
            <h6 class="my-0"><small><strong>Available Gender</strong></small></h6>
            <span ng-show="ctrl.pokemon.maleAllowed == '1'" class="gender male">M</span>
            <span ng-show="ctrl.pokemon.femaleAllowed == '1'" class="gender female">F</span>
            <span ng-show="ctrl.pokemon.maleAllowed == '0' && ctrl.pokemon.femaleAllowed == '0'" class="gender genderless">G</span>
        </div>
        <div class="col-5 border p-1 m-1">
            <h6 class="my-0"><small><strong>Grass Knot / Low Kick</strong></small></h6>
            <h6><small>{{ ctrl.getGrassKnotDamage(ctrl.pokemon.weight) }} BP</small></h6>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-5 border p-1 m-1">
            <h6 class="my-0"><small><strong>Height</strong></small></h6>
            <h6><small>{{ ctrl.pokemon.height }} m / {{ ctrl.toImperialHeight(ctrl.pokemon.height) }}</small></h6>
        </div>
        <div class="col-5 border p-1 m-1">
            <h6 class="my-0"><small><strong>Weight</strong></small></h6>
            <h6><small>{{ ctrl.pokemon.weight}} kg / {{ ctrl.toImperialWeight(ctrl.pokemon.weight) }} lbs</small></h6>
        </div>
    </div>
</div>