<div class="container border text-center" ng-show="ctrl.displayMove.name != null && ctrl.moveHintsType == 'rse-contest'">
    <div class="row pt-2 move-hints-title">
        <div class="col">
            <h2>{{ ctrl.displayMove.name }}</h2>
        </div>
    </div>
    <div class="row pt-2" ng-if="ctrl.displayMove.rseContestMoveType != null">
        <div class="col">
            <h3 class="my-0" ng-if="ctrl.getRseScore() <= 0">{{ ctrl.displayMove.rseContestMoveType.score == -1 ? 'Varies' : '-'  }}</h3>
            <img src="https://pokemonurpg.com/img/heart.png"  ng-if="ctrl.getRseScore() > 0" ng-repeat="n in [].constructor(ctrl.getRseScore()) track by $index" />
            <h6><small>SCORE</small></h6>
        </div>
        <div class="col">
            <h3 class="my-0" ng-if="ctrl.getRseJam() <= 0">{{ ctrl.displayMove.rseContestMoveType.jam == -1 ? 'Varies' : '-'  }}</h3>
            <img src="https://pokemonurpg.com/img/nheart.png"  ng-if="ctrl.getRseJam() > 0" ng-repeat="n in [].constructor(ctrl.getRseJam()) track by $index" />
            <h6><small>JAM</small></h6>
        </div>
    </div>
    <div class="row" ng-if="ctrl.displayMove.rseContestMoveType != null">
        <div class="col">
            <span class="type" ng-class="ctrl.displayMove.rseContestAttribute | lowercase">{{ ctrl.displayMove.rseContestAttribute }}</span>
            <h6><small>ATTRIBUTE</small></h6>
        </div>
    </div>
    <div class="row d-flex align-items-center move-description">
        <div class="col">
            {{ ctrl.displayMove.rseContestMoveType != null ? ctrl.displayMove.rseContestMoveType.description : "Cannot be used in contests." }}
        </div>
    </div>
</div>