<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-10 col-md-3 p-2 text-center accentTagGreen">
            <strong>Wins</strong>: {{ ctrl.trainer.wins }}
        </div>
        <div class="col-10 col-md-3 mt-2 mt-md-0 ml-md-2 p-2 text-center accentTagRed">
            <strong>Losses</strong>: {{ ctrl.trainer.losses }}
        </div>
        <div class="col-10 col-md-3 mt-2 mt-md-0 ml-md-2 p-2 text-center accentTag">
            <strong>Draws</strong>: {{ ctrl.trainer.draws }}
        </div>
    </div>
</div>