<div class="stats-header-container">
    
    <div class="username">
        <h1>{{ ctrl.name }}</h1>
    </div>
    
    <div class="headline">
        <table>       
            <tr>
                <td ng-click="ctrl.showModal.visible == false ? ctrl.displayPane = 'news' : ''">
                    <span>NEWS FEED</span>
                    <div class="underline" ng-if="ctrl.displayPane == 'news'"></div>
                </td>
                <td ng-click="ctrl.showModal.visible == false ? ctrl.changePane('pokemon') : ''">
                <span>POKEMON</span>
                    <div class="underline" ng-if="ctrl.displayPane == 'pokemon'"></div>
                </td>
                <td ng-click="ctrl.showModal.visible == false ? ctrl.changePane('items') : ''">
                    <span>INVENTORY</span>
                    <div class="underline" ng-if="ctrl.displayPane == 'items'"></div>
                </td>
                <td ng-click="ctrl.showModal.visible == false ? ctrl.displayPane = 'matches' : ''">
                    <span>MATCH HISTORY</span>
                    <div class="underline" ng-if="ctrl.displayPane == 'matches'"></div>
                </td>
                <td ng-click="ctrl.showModal.visible == false ? ctrl.displayPane = 'achievements' : ''">
                    <span>ACHIEVEMENTS</span>
                    <div class="underline" ng-if="ctrl.displayPane == 'achievements'"></div>
                </td>
                <td ng-click="ctrl.showModal.visible == false ? ctrl.displayPane = 'about' : ''">
                    <span>ABOUT</span>
                    <div class="underline" ng-if="ctrl.displayPane == 'about'"></div>
                </td>
            </tr>
            
        </table>
    </div>
    
    <div class="avatar">
        <img height="100px" width="100px" ng-src="{{ ctrl.avatar }}" />
    </div>
    
    <!--table class="stats-header-table">
    
        <tr class="username">
            <td colspan="6"><h1>{{ ctrl.name }}</h1></td>
            <td class="avatar" rowspan="2">
                <img height="100px" width="100px" ng-src="{{ ctrl.avatar }}" />
            </td>
        </tr>
    
        <tr>
            <td>
                NEWS FEED
            </td>
            <td>
                POKEMON
            </td>
            <td>
                ITEMS
            </td>
            <td>
                MATCH HISTORY
            </td>
            <td>
                ACHIEVEMENTS
            </td>
            <td>
                ABOUT
            </td>
        </tr>
        
    </table-->
</div>



<!--div class="container">
    <table class="main-table">
        <tr>
            <td class="avatar">
                <img height="100px" width="100px" ng-src="{{ ctrl.avatar }}" />
            </td>

            <td>
                <table class="record-table">
                    <tr>
                        <td colspan="3"><h1>{{ ctrl.name }}</h1></td>
                    </tr>
                    <tr>
                        <td class="wins">{{ ctrl.wins }} W</td>
                        <td class="losses">{{ ctrl.losses }} L</td>
                        <td class="draws">{{ ctrl.draws }} D</td>
                    </tr>
                </table>
            </td>

            <td>
                <table class="money-table">
                    <tr>
                        <td>Cash:</td>
                        <td>
                            ${{ ctrl.money | number }}
                        </td>
                    </tr>
                    
                    <tr>
                        <td>Contest Credits:</td>
                        <td>
                            {{ ctrl.contestCredits | number }}
                        </td>
                    </tr>
                    
                    <tr>
                        <td>Shoppe Tokens:</td>
                        <td>
                            9,000
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div-->