<div class="occupations">
    <table class="occupation-table">
        <tr>
            <td ng-repeat="occupation in ctrl.occupations">
                <span class="emblem">{{ occupation.name }}</span>            
            </td>
        </tr>
    </table>
</div>
<horizontal-line></horizontal-line>
<div class="items">
    <table class='item-table'>
        <thead>
            <tr>
                <th colspan="3">Items</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in ctrl.items">
                <td class='item-type' 
                    rowspan="{{ ctrl.itemsByType[item.type].length }}"
                    ng-if="item.type != ctrl.items[$index - 1].type">
                    <b>{{ item.type }}</b>
                </td>
                <td class='item-name' ng-class="$index % 2 == 0 ? 'even' : 'odd'">
                    {{ item.name }}
                </td>
                <td class='item-quantity' ng-class="$index % 2 == 0 ? 'even' : 'odd'">
                    {{ item.quantity }}
                </td>
            </tr>
            <tr ng-if="ctrl.items.length == 0">
                <td class='item-quantity'>NONE</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="badges">
    
    <table>
        <thead>
            <tr>
                <th colspan="{{ ctrl.regions.length + 1 }}">Badges</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="region in ctrl.regions">
                <td>
                    <span class="region">{{ region }}</span>
                </td>

                <td ng-repeat="badge in ctrl.badgeNames[$index]">
                    <img height="32" width="32" 
                         ng-src="{{ ctrl.allBadges[badge] }}" 
                         ng-if="ctrl.hasBadge(badge)" 
                         title="{{ badge }}"/>
                    <img height="32" width="32"
                         ng-src="/img/question-mark.png"
                         ng-if="!ctrl.hasBadge(badge)" />
                </td>
            </tr>        
        </tbody>
    </table>
</div>