<site-header></site-header>
<link rel="stylesheet" href="/css/stats.css" />
<stats-header></stats-header>
<stats-news ng-if="ctrl.displayPane == 'news'"></stats-news>
<stats-pokemon ng-if="ctrl.displayPane == 'pokemon'"></stats-pokemon>
<stats-items ng-if="ctrl.displayPane == 'items'"s></stats-items>
<stats-matches ng-if="ctrl.displayPane == 'matches'"></stats-matches>
<stats-achievements ng-if="ctrl.displayPane == 'achievements'"></stats-achievements>
<stats-about ng-if="ctrl.displayPane == 'about'"></stats-about>